// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 300;
  font-family: monospace, Helvetica, sans-serif;
}

.btn {
  margin: 10px auto;
  padding: 12px 24px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

  background-color: #ffffff;
  // background-color: rgba(251, 255, 0, 0.5);
  // opacity: 0.5;
  color: #04090a;
  font-size: 15px;
  font-weight: bold;

  transition: background-color 0.3s;
}

.btn.red {
  background-color: #f16334;
  color: rgb(255, 255, 255);
}

.btn.red:hover,
.btn.red:focus {
  background-color: #994123;
}

.btn.yellow {
  background-color: #f0ec18;
}

.btn.yellow:hover,
.btn.yellow:focus {
  background-color: #adab08;
}

.btn.green {
  background-color: #28a745;
  color: #fff;
}

.btn.green:hover,
.btn.green:focus {
  background-color: #064b00;
}
