// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  margin: 300;
  // font-family: monospace, Helvetica, sans-serif;
  // font-family: Andale Mono, AndaleMono, monospace;
  font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
}

.btn {
  margin: 10px auto;
  padding: 12px 24px;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);

  background-color: #ffffff;
  color: #04090a;
  font-size: 15px;
  font-weight: bold;

  transition: background-color 0.3s;
  flex: 1;

  &.red {
    background-color: rgb(185, 65, 63);
    color: rgb(255, 255, 255);

    &:hover,
    &:focus {
      background-color: rgb(134, 47, 45);
    }
  }

  &.yellow {
    background-color: #f0ec18;

    &:hover,
    &:focus {
      background-color: #adab08;
    }
  }

  &.green {
    background-color: #28a745;
    color: #fff;

    &:hover,
    &:focus {
      background-color: #064b00;
    }
  }
}

.hash {
  font-family: Andale Mono, AndaleMono, monospace;
  // background-color: #28a745;
  &.items {
    // position: relative;
    background-color: #28a745;
    // right: 50px;
  }
}

.hrz-btn {
  display: flex;
  flex-direction: row;
  width: 100%;
}
